@model IEnumerable<FitnessManager.ViewModels.PesajeViewModel>

<div class="row container py-5 text-white justify-content-center">
    <div class="col-md-8">
        <a class="btn btn-edit-gradient mb-3" asp-action="Create"><i class="fa-solid fa-plus me-1"></i>Nuevo Pesaje</a>
        <partial name="_Alert" />
        <table class="shadow-border">
            <thead class="">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>@Html.DisplayNameFor(model => model.Peso)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td> 
                        @Html.DisplayFor(modelItem => item.Peso)
                        Kg
                    </td>
                    <td>
                        <a class="btn btn-detail-gradient" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-edit-gradient" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-edit"></i></a>
                        <form asp-action="Delete" style="display:inline;">
                            <button type="submit" class="btn btn-delete-gradient" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>