@model IEnumerable<FitnessManager.Models.Dieta>;

<div class="row container py-5 text-white justify-content-center">
    <div class="col-md-8">
        <table class="table table-dark table-hover border">
            <thead class="table-secondary" ">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>Calorias diarias</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
                <tr class="">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td> 
                        @Html.DisplayFor(modelItem => item.CaloriasDiarias)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-edit"></i></a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>